<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dash Money</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ManejoPresupuesto.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="ManejoPresupuesto.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/fullcalendar/main.min.css" />
</head>

<body>
    <nav class="relative container mx-auto p-6">
        <div class="flex items-center justify-between">
            <div class="pt-2">
                <img src="~/img/logo.png" alt="" />
            </div>

            <div class="hidden md:flex space-x-6 items-center">
                <a class=" hover:text-darkGrayishBlue" asp-controller="Transacciones"
                    asp-action="Index">Transacciones</a>
                <a class="hover:text-darkGrayishBlue" asp-controller="Cuentas" asp-action="Index">Cuentas</a>
                <a class="hover:text-darkGrayishBlue" asp-controller="TiposCuentas" asp-action="Index">TiposCuentas</a>
                <a class="hover:text-darkGrayishBlue" asp-controller="Categorias" asp-action="Index">Categorias </a>
                <partial name="_LinksLogin" />
            </div>
        </div>

    </nav>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ManejoPresupuesto - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
