@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager


<div class="hidden md:flex space-x-6 items-center">
    
    @if (SignInManager.IsSignedIn(User))
    {
        <span >Hola, @User.Identity.Name</span>
          
      

   <form  asp-action="logout" asp-controller="usuarios">
                <button type="submit" class="hidden md:block p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight">
                    Cerrar Sesión
                </button>
            </form>
    }
    else
    {
            <a asp-controller="usuarios" asp-action="Registro">
                Registro
            </a>
            <a asp-controller="usuarios" asp-action="Login">
                Login
            </a>
    }
        
</div>
